*{
	margin:0;
	padding: 0;
}
body{
	background: #fff;
}
header{
	width: 100%;
	overflow: hidden;
	background: #2C3E50;
	margin-bottom: 20px;
}
.waper{
	width: 90%;
	max-width: 1000px;
	margin:auto;
	overflow: hidden;
}
header .logo{
	color: #fff;
	font-size: 30px;
	line-height: 80px;
	float: left;

}
header nav{
	float: right;
	line-height: 80px;
	
}

header nav a{
	display: inline-block;
	font-size: 1em;
	text-decoration: none;
	color: #fff;
	padding: 1em 1em;
	line-height: normal;
}
.logo img{
	width: 70%;
	margin-top: 10px;
}





